.webgl-content * {
    border: 0;
    margin: 0;
    padding: 0;
    /*background-color: #cdeeff;*/
    background: url('denglu.png') no-repeat center;
}
.webgl-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*background-color: #cdeeff;*/
    background: url('denglu.png') no-repeat center;
}

.webgl-content .logo, .progress {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*隐藏logo图标*/
.webgl-content .logo {
    /*background: url('hsdlogo.png') no-repeat center / contain;*/
    top: 50%;
    width: 220px;
    height: 220px;
}

.webgl-content .progress {
    height: 23px;
    width: 301px;
    margin-top: 150px;
    top: 30%;
}

.webgl-content .progress .empty {
    background: url('progressframeimage.png') no-repeat right / cover;
    float: right;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.webgl-content .progress .full {
    background: url('progressframeimage.png') no-repeat left / cover;
    float: left;
    width: 0;
    height: 100%;
    display: inline-block;
}

.webgl-content .logo.Dark {
    display: none;
    /*background-image: url('hsdlogo.png');*/
}

.webgl-content .progress.Dark .empty {
    background-image: url('progressframeimage.png');
}

.webgl-content .progress.Dark .full {
    background-image: url('progressbarimage.png');
    z-index: 98;
}
.progress Dark{
    z-index: 98;
}